In [1]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('stroke dataset.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
# Make a copy of dataset
df_copy = df.copy()
df_copy.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df_copy.set_index('id')

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
df['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [6]:
df_copy.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [7]:
df_copy.gender.unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [8]:
gender_values = {
    'Male': 0,
    'Female': 1,
    'Other': 2
}

df_copy.gender = df_copy.gender.map(gender_values)
df_copy.gender.head()

0    0
1    1
2    0
3    1
4    1
Name: gender, dtype: int64

In [9]:
df_copy.ever_married.unique()

array(['Yes', 'No'], dtype=object)

In [10]:
df_copy.ever_married = (df_copy.ever_married == 'Yes').astype(int)
df_copy.ever_married.head()

0    1
1    1
2    1
3    1
4    1
Name: ever_married, dtype: int64

In [11]:
df_copy.ever_married.tail()

5105    1
5106    1
5107    1
5108    1
5109    1
Name: ever_married, dtype: int64

In [12]:
df_copy.ever_married.head(50)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    0
19    0
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    0
35    0
36    1
37    1
38    0
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    0
47    1
48    1
49    1
Name: ever_married, dtype: int64

In [13]:
df_copy.work_type.unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [14]:
work_type_values = {
    "Private": 0,
    "Self-employed": 1,
    "Govt_job": 2,
    "children": 3,
    "Never_worked": 4
}

df_copy.work_type = df_copy.work_type.map(work_type_values)

In [15]:
df_copy.work_type.head()

0    0
1    1
2    0
3    0
4    1
Name: work_type, dtype: int64

In [16]:
df_copy.Residence_type.unique()

array(['Urban', 'Rural'], dtype=object)

In [17]:
residence_type_values = {
    'Urban': 0,
    'Rural': 1
}

df_copy.Residence_type = df.Residence_type.map(residence_type_values)

In [18]:
df_copy.Residence_type.head(10)

0    0
1    1
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    0
Name: Residence_type, dtype: int64

In [19]:
df_copy.dtypes

id                     int64
gender                 int64
age                  float64
hypertension           int64
heart_disease          int64
ever_married           int64
work_type              int64
Residence_type         int64
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [20]:
df_copy.smoking_status.unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [21]:
smoking_status_values = {
    'formerly smoked': 0,
    'never smoked': 1,
    'smokes': 2,
    'Unknown': 3
}

df_copy.smoking_status = df_copy.smoking_status.map(smoking_status_values)

In [22]:
df_copy.dtypes

id                     int64
gender                 int64
age                  float64
hypertension           int64
heart_disease          int64
ever_married           int64
work_type              int64
Residence_type         int64
avg_glucose_level    float64
bmi                  float64
smoking_status         int64
stroke                 int64
dtype: object

In [23]:
df_copy.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,0,67.0,0,1,1,0,0,228.69,36.6,0,1
1,51676,1,61.0,0,0,1,1,1,202.21,NaN,1,1
2,31112,0,80.0,0,1,1,0,1,105.92,32.5,1,1
3,60182,1,49.0,0,0,1,0,0,171.23,34.4,2,1
4,1665,1,79.0,1,0,1,1,1,174.12,24.0,1,1

In [24]:
df_copy.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [25]:
df_copy.corrwith(df_copy.stroke)

id                   0.006388
gender              -0.009200
age                  0.245257
hypertension         0.127904
heart_disease        0.134914
ever_married         0.108340
work_type           -0.058224
Residence_type      -0.015458
avg_glucose_level    0.131945
bmi                  0.042374
smoking_status      -0.066393
stroke               1.000000
dtype: float64

## Let's choose the features that have high coorelation with stroke (target variable)

In [26]:
df_copy.drop(columns=['id', 'gender', 'work_type', 'Residence_type', 'bmi'], inplace=True)

In [27]:
df_copy.head()

,age,hypertension,heart_disease,ever_married,avg_glucose_level,smoking_status,stroke
0,67.0,0,1,1,228.69,0,1
1,61.0,0,0,1,202.21,1,1
2,80.0,0,1,1,105.92,1,1
3,49.0,0,0,1,171.23,2,1
4,79.0,1,0,1,174.12,1,1

In [28]:
# Let's split the data into train, test and validate data
from sklearn.model_selection import train_test_split

df_train_full, df_test = train_test_split(df_copy, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_train_full, test_size=0.33, random_state=1)

In [29]:
# Let's create the feature and target variables
y_train = df_train.stroke
X_train = df_train.drop('stroke', axis=1)

y_val = df_val.stroke
X_val = df_val.drop('stroke', axis=1)

In [30]:
len(X_train), len(y_train)

(2738, 2738)

In [31]:
len(X_val), len(y_val)

(1350, 1350)

In [32]:
# Let's create the test features and targets
y_test = df_test.stroke
X_test = df_test.drop('stroke', axis=1)

In [33]:
len(X_test), len(y_test)

(1022, 1022)

## Training our model

In [34]:
from sklearn.linear_model import LogisticRegression

linear_model = LogisticRegression(solver='liblinear', random_state=1)
linear_model.fit(X_train, y_train)

LogisticRegression(random_state=1, solver='liblinear')

In [35]:
y_pred = linear_model.predict(X_val)

In [36]:
# Let's calculate the accuracy score of the model
from sklearn.metrics import accuracy_score

accuracy_score(y_val, y_pred)

0.957037037037037

In [37]:
y_pred = linear_model.predict(X_test)

accuracy_score(y_test, y_pred)

0.9403131115459883

In [38]:
from sklearn.metrics import roc_auc_score

y_pred = linear_model.predict(X_val)

roc_auc_score(y_val, y_pred)

0.5

In [39]:
y_pred = linear_model.predict(X_test)

roc_auc_score(y_test, y_pred)

0.4994802494802495

In [40]:
from sklearn.ensemble import RandomForestClassifier

clf_model = RandomForestClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=1)

clf_model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=1)

In [41]:
y_pred = clf_model.predict(X_val)

accuracy_score(y_val, y_pred)

0.9511111111111111

In [42]:
roc_auc_score(y_val, y_pred)

0.5133714102700973

In [43]:
y_pred = clf_model.predict(X_test)

accuracy_score(y_test, y_pred)

0.9334637964774951

In [44]:
roc_auc_score(y_test, y_pred)

0.5270963270963271

In [45]:
# Let's tune the hyperpaameters for random forest classifier

all_aucs = {}

for m in [3, 5, 10]:
    print('min_samples_leaf: %s' % m)
    aucs = []
    accuracy_scores = []
    
    for i in range(10, 201, 20):
        rf = RandomForestClassifier(n_estimators=i, max_depth=1)
        rf.fit(X_train, y_train)
        y_pred = rf.predict_proba(X_val)[:, 1]
        auc = roc_auc_score(y_val, y_pred)
        print('%s -> %.3f' % (i, auc))
        aucs.append(auc)
        
    all_aucs[m] = aucs
    
    print()

min_samples_leaf: 3
10 -> 0.797
30 -> 0.824
50 -> 0.807
70 -> 0.809
90 -> 0.812
110 -> 0.812
130 -> 0.812
150 -> 0.813
170 -> 0.820
190 -> 0.817

min_samples_leaf: 5
10 -> 0.770
30 -> 0.809
50 -> 0.825
70 -> 0.811
90 -> 0.811
110 -> 0.818
130 -> 0.815
150 -> 0.817
170 -> 0.815
190 -> 0.821

min_samples_leaf: 10
10 -> 0.760
30 -> 0.814
50 -> 0.810
70 -> 0.814
90 -> 0.822
110 -> 0.813
130 -> 0.812
150 -> 0.817
170 -> 0.814
190 -> 0.808

In [46]:
all_aucs = {}

for depth in [5, 10, 15, 20]:
    aucs = []
    
    rf = RandomForestClassifier(max_depth=depth, min_samples_split=3, n_estimators=90, random_state=1)
    rf.fit(X_train, y_train)
    y_pred = rf.predict_proba(X_val)[:,1]
    auc = roc_auc_score(y_val, y_pred)
    
    print('%s -> %.3f' % (depth, auc))
    aucs.append(auc)
    
    all_aucs[depth] = aucs
    
    print()

5 -> 0.826

10 -> 0.788

15 -> 0.763

20 -> 0.759

In [47]:
# Let's choose the best parameters and train the model 

rf = RandomForestClassifier(n_estimators=90, max_depth=5, min_samples_split=3, random_state=1)

In [48]:
rf.fit(X_train, y_train)

y_pred = rf.predict(X_val)

accuracy_score(y_val, y_pred)

0.957037037037037

In [49]:
roc_auc_score(y_val, y_pred)

0.5

In [50]:
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

0.9412915851272016

In [51]:
roc_auc_score(y_test, y_pred)

0.5

In [52]:
from sklearn.ensemble import GradientBoostingClassifier

In [53]:
gradient_model = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=1)
gradient_model.fit(X_train, y_train)

GradientBoostingClassifier(learning_rate=1.0, max_depth=1, random_state=1)

In [54]:
y_pred = gradient_model.predict(X_val)

In [55]:
accuracy_score(y_val, y_pred)

0.9548148148148148

In [56]:
roc_auc_score(y_val, y_pred)

0.4988390092879257

In [57]:
# Let's tune the parameters for the gradient boosting model

all_aucs = {}
all_accuracy_scores = {}

for depth in range(10, 110, 10):
    aucs = []
    accuracy_scores = []
    
    print('depth rate auc score')
    for rate in range(1, 5, 1):
        gradient_model = GradientBoostingClassifier(n_estimators=100, learning_rate=rate, max_depth=depth, random_state=1)
        gradient_model.fit(X_train, y_train)
        y_pred = gradient_model.predict(X_val)
        auc = roc_auc_score(y_val, y_pred)
        score = accuracy_score(y_val, y_pred)
        
        print('%s %s -> %.3f %.3f' % (depth, rate, auc, score))
    
    aucs.append(auc)
    accuracy_scores.append(score)
    
    print()

depth rate auc score
10 1 -> 0.512 0.948
10 2 -> 0.502 0.946
10 3 -> 0.541 0.941
10 4 -> 0.543 0.944

depth rate auc score
20 1 -> 0.534 0.927
20 2 -> 0.526 0.929
20 3 -> 0.526 0.928
20 4 -> 0.535 0.929

depth rate auc score
30 1 -> 0.534 0.928
30 2 -> 0.526 0.928
30 3 -> 0.535 0.929
30 4 -> 0.526 0.928

depth rate auc score
40 1 -> 0.525 0.927
40 2 -> 0.526 0.928
40 3 -> 0.526 0.929
40 4 -> 0.526 0.928

depth rate auc score
50 1 -> 0.525 0.927
50 2 -> 0.526 0.928
50 3 -> 0.526 0.929
50 4 -> 0.526 0.928

depth rate auc score
60 1 -> 0.525 0.927
60 2 -> 0.526 0.928
60 3 -> 0.526 0.929
60 4 -> 0.526 0.928

depth rate auc score
70 1 -> 0.525 0.927
70 2 -> 0.526 0.928
70 3 -> 0.526 0.929
70 4 -> 0.526 0.928

depth rate auc score
80 1 -> 0.525 0.927
80 2 -> 0.526 0.928
80 3 -> 0.526 0.929
80 4 -> 0.526 0.928

depth rate auc score
90 1 -> 0.525 0.927
90 2 -> 0.526 0.928
90 3 -> 0.526 0.929
90 4 -> 0.526 0.928

depth rate auc score
100 1 -> 0.525 0.927
100 2 -> 0.526 0.928
100 3 -> 0.526 0.929
100 4 -> 0.526 0.928

In [58]:
# Let's tune the n_estimators parameter keeping the learning_rate=4 and depth=10

for estimator in range(10, 201, 10):
    print('estimator %s' % estimator)
    
    model = GradientBoostingClassifier(n_estimators=estimator, max_depth=10, learning_rate=4, random_state=1)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    auc = roc_auc_score(y_val, y_pred)
    score = accuracy_score(y_val, y_pred)
    
    print('auc -> %.3f score -> %.3f' % (auc, score))

estimator 10
auc -> 0.541 score -> 0.926
estimator 20
auc -> 0.546 score -> 0.934
estimator 30
auc -> 0.537 score -> 0.934
estimator 40
auc -> 0.538 score -> 0.936
estimator 50
auc -> 0.539 score -> 0.938
estimator 60
auc -> 0.541 score -> 0.941
estimator 70
auc -> 0.542 score -> 0.944
estimator 80
auc -> 0.542 score -> 0.944
estimator 90
auc -> 0.542 score -> 0.944
estimator 100
auc -> 0.543 score -> 0.944
estimator 110
auc -> 0.543 score -> 0.945
estimator 120
auc -> 0.543 score -> 0.944
estimator 130
auc -> 0.543 score -> 0.944
estimator 140
auc -> 0.543 score -> 0.944
estimator 150
auc -> 0.543 score -> 0.944
estimator 160
auc -> 0.543 score -> 0.944
estimator 170
auc -> 0.543 score -> 0.944
estimator 180
auc -> 0.543 score -> 0.944
estimator 190
auc -> 0.543 score -> 0.944
estimator 200
auc -> 0.543 score -> 0.944

In [59]:
# Lets create the feature and target varaiable for the full training set
y_train = df_train_full.stroke
len(y_train)

4088

In [60]:
X_train = df_train_full.drop('stroke', axis=1)
len(X_train)

4088

In [61]:
# Lets train the models using the full train dataset

linear_model = LogisticRegression(solver='liblinear', random_state=1)
linear_model.fit(X_train, y_train)

rf_model = RandomForestClassifier(n_estimators=90, max_depth=5, min_samples_leaf=3, random_state=1)
rf_model.fit(X_train, y_train)

gradient_model = GradientBoostingClassifier(n_estimators=110, max_depth=10, learning_rate=4, random_state=1)
gradient_model.fit(X_train, y_train)

GradientBoostingClassifier(learning_rate=4, max_depth=10, n_estimators=110,
                           random_state=1)

## Lets find the auc, accuracy_score and f1_score for each model

In [62]:
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score

# Logisitc Regression Model

y_pred = linear_model.predict(X_val)
auc = roc_auc_score(y_val, y_pred)
score = accuracy_score(y_val, y_pred)
f1 = f1_score(y_val, y_pred)

print('auc %.3f, accuracy_score %.3f, f1_score %.3f' % (auc, score, f1))

auc 0.500, accuracy_score 0.957, f1_score 0.000

In [63]:
# Random Forest Model

y_pred = rf_model.predict(X_val)
auc = roc_auc_score(y_val, y_pred)
score = accuracy_score(y_val, y_pred)
f1 = f1_score(y_val, y_pred)

print('auc %.3f, accuracy_score %.3f, f1_score %.3f' % (auc, score, f1))

auc 0.509, accuracy_score 0.958, f1_score 0.034

In [64]:
# Gradient Boosting Classifier

y_pred = gradient_model.predict(X_val)
auc = roc_auc_score(y_val, y_pred)
score = accuracy_score(y_val, y_pred)
f1 = f1_score(y_val, y_pred)

print('auc %.3f, accuracy_score %.3f, f1_score %.3f' % (auc, score, f1))

auc 0.812, accuracy_score 0.814, f1_score 0.272

In [65]:
import pickle

# save the model to disk
pickle.dump(rf_model, open('final_model.sav', 'wb'))

# What if we scale the inputs ?

In [68]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)

In [70]:
rf_model.fit(X_train, y_train)
X_val = sc.fit_transform(X_val)
y_pred = rf_model.predict(X_val)
roc_auc_score(y_val, y_pred), accuracy_score(y_val, y_pred)

(0.5086206896551724, 0.9577777777777777)

In [71]:
X_test = sc.fit_transform(X_test)
y_pred = rf_model.predict(X_test)
roc_auc_score(y_test, y_pred), accuracy_score(y_test, y_pred)

(0.5, 0.9412915851272016)

In [72]:
y_pred = rf_model.predict(X_train)
roc_auc_score(y_train, y_pred), accuracy_score(y_train, y_pred)

(0.5026455026455027, 0.9540117416829745)

In [73]:
# Let's save the model after scaling the training data
pickle.dump(rf_model, open('final_model.sav', 'wb'))